.btn {
  border-radius:0;
}

.card {
  font-family: Raleway;
  border-radius:0;
}

.card-header {
  border-radius: 0;
}

.list-group-item:first-child {
  border-radius : 0;
}

.navbar {
  height : 45px;
  box-shadow: 0px 0px 2px #404040;
}

.list-group-item:last-child {
  border-radius : 0;
}
